{% extends "base.html" %}
{% block title %}{{ SITENAME }} | {{ article.title|striptags }}{% endblock %}
{% block section_title %}{{ article.title }}{% endblock %}
{% block meta_description %}{{ article.summary|striptags }}{% endblock %}
{% block meta_keywords %}{{ article.tags|join(',') }}{% endblock %}
{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ article.title }}</h1>
                <p>{{ article.summary }}</p>
            </div>
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">{{ article.formatted_date }}</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="blog" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="blog">
                <div class="blog-item">
                    {% if article.photo_image %}
                    <img class="img-responsive img-blog"
                         src="{{ SITEURL }}/{{ article.photo_image[1] }}"
                         width="100%" alt="" />
                    {% endif %}
                    <div class="blog-content">
                        <h3>{{ article.title }}</h3>
                        <div class="entry-meta">
                            <span><i class="icon-folder-close"></i> <a href="#">{{ article.category }}</a></span>
                            <span><i class="icon-calendar"></i> {{ article.formatted_date }}</span>
                        </div>
                        <p class="lead">{{ article.lead }}</p>
                        {{ article.content_no_lead }}
                        {% if article.photo_gallery %}
                        <div class="gallery">
                            {% for name, photo, thumb, exif, caption in article.photo_gallery %}
                            <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}"
                               exif="{{ exif }}" caption="{{ caption }}">
                                <img src="{{ SITEURL }}/{{ thumb }}">
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <hr>
                        <div class="tags">
                            <i class="icon-tags"></i> Tags
                            <a class="btn btn-xs btn-primary" href="#">CSS3</a>
                            <a class="btn btn-xs btn-primary" href="#">HTML5</a>
                            <a class="btn btn-xs btn-primary" href="#">WordPress</a>
                            <a class="btn btn-xs btn-primary" href="#">Joomla</a>
                        </div>
                    </div>
                </div><!--/.blog-item-->
            </div>
        </div>
    </div>
</section>

<!-- Magnific Popup core JS file -->
<script src="{{ SITEURL }}/theme/js/jquery.magnific-popup.js"></script>
<script>
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [1,2]
        },
        image: {
            titleSrc: function(item) {
                if (item.el.attr('caption') && item.el.attr('exif')) {
                    return (item.el.attr('caption').replace(/\\n/g, '<br />') +
                        '<small>' + item.el.attr('title') + ' - ' + item.el.attr('exif') + '</small>');
                }
            return item.el.attr('title') + '<small>' + item.el.attr('exif') + '</small>';
        } }
    });
</script>
{% endblock %}

